li>a {
    color: white;
    padding: 1vh 0;
}

/* li>a:visited is not working :( */
li>a:hover, li>a:visited {
    background: #D04040;
    margin: 2px;
}

li>a {
    text-decoration: none;
}

li>a>img {
    margin: 0 20px;
}