<div style="background:white;">
      
      <div id="header" style="background:#333333;width:80%;padding:5% 10%;">
        <img style="width:80px" src="/assets/images/ic_cataleg.svg" />
        <p style="display:inline;color:white;margin:2px;">Marc Tallón Ortega</p>
        <img style="float:right;width:80px" src="/assets/images/ic_cataleg.svg" />
      </div>
      
      <div style="padding:5%;">
        
        <div id="main" style="width:470px;max-height:400px;overflow-x:hidden;padding:0 5%;">
          
          <div id="item" style="margin:0 0 5% 0; border:1px solid #666666;padding:2% 5%; line-height:85%">
            <img style="float:right;width:80px" src="/assets/images/ic_cataleg.svg" />
            <div>
              <p style="font-weight:bold;">0001-0168745213-1254789.zip</p>
              <p style="display:inline; margin-right: 10px; font-size:75%;">3.2 MB</p> <p style="display:inline; margin-right: 10px; font-size:75%;">21/03/2017 09:15</p>
            </div>
          </div>
          
          <div id="item" style="background:#D04040;margin:5% 0;padding:2% 5%; line-height:85%">
            <img style="float:right;width:80px" src="/assets/images/ic_cataleg.svg" />
            <div>
              <p style="color:white;">0001-0168745213-1254789.zip</p>
              <p style="display:inline; margin-right: 10px; color:white;; font-size:75%;">3.2 MB</p> <p style="display:inline; margin-right: 10px; color:white;; font-size:75%;">21/03/2017 09:15</p>
            </div>
          </div>
          
          <div id="item" style="margin:0 0 5% 0; border:1px solid #666666;padding:2% 5%; line-height:85%">
            <img style="float:right;width:80px" src="/assets/images/ic_cataleg.svg" />
            <div>
              <p style="font-weight:bold;">0001-0168745213-1254789.zip</p>
              <p style="display:inline; margin-right: 10px; font-size:75%;">3.2 MB</p> <p style="display:inline; margin-right: 10px; font-size:75%;">21/03/2017 09:15</p>
            </div>
          </div>
          
          <div id="item" style="margin:0 0 5% 0; border:1px solid #666666;padding:2% 5%; line-height:85%">
            <img style="float:right;width:80px" src="/assets/images/ic_cataleg.svg" />
            <div>
              <p style="font-weight:bold;">0001-0168745213-1254789.zip</p>
              <p style="display:inline; margin-right: 10px; font-size:75%;">3.2 MB</p> <p style="display:inline; margin-right: 10px; font-size:75%;">21/03/2017 09:15</p>
            </div>
          </div>
          
          <div id="item" style="margin:0 0 5% 0; border:1px solid #666666;padding:2% 5%; line-height:85%">
            <img style="float:right;width:80px" src="/assets/images/ic_cataleg.svg" />
            <div>
              <p style="font-weight:bold;">0001-0168745213-1254789.zip</p>
              <p style="display:inline; margin-right: 10px; font-size:75%;">3.2 MB</p> <p style="display:inline; margin-right: 10px; font-size:75%;">21/03/2017 09:15</p>
            </div>
          </div>
          
        </div>
        
        <div id="footer" style="border-top:1px solid #666666;padding:5% 0; margin: 5% 1% 0 5%;">
          <button style="float:left;background:#333333;color:white;padding:2% 5%;">Carregar un arxiu</button>
          <button style="float:right;background:#333333;color:white;padding:2% 5%;">Tancar</button>
        </div>
      
      </div>
      
    </div>