<div id="header"> 
  <div id="div-logo-app">
    <img id="img-logo-app" src="/assets/images/logo-app.png" />
  </div>
  <img id="img-logo-gencat" src="/assets/images/logo-gencat.png" />

  <div id="div-user-section">
    <div id="div-ic-usr">
      <span class="icon-helper"></span>
      <img id="img-ic-usr" class="icon-vertical-alignment" src="/assets/images/ic-user.png" />
    </div>
    <div id="div-user-date">
      <p>Marc Tallón Ortega</p>
      <p>04/04/2017</p>    
    </div>
  </div>

  <div id="div-icons-section">
    <div class="icon-frame">
      <span class="icon-helper"></span>
      <img class="icon-vertical-alignment" src="/assets/images/ic-gtf.png" />
      <img id="img-ic-normativa" class="icon-vertical-alignment" src="/assets/images/ic-normativa.png" />
      <img id="img-ic-documentacio" class="icon-vertical-alignment" src="/assets/images/ic-documentacio.png" />
      <img id="img-ic-info" class="icon-vertical-alignment" src="/assets/images/ic-info.png" />
    </div>
  </div>

</div>